* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f7f1ec;
    margin-left: 7vw;
    margin-right: 7vw;
}
/* 
#dec {
    position: absolute;
    z-index: 10;
    color: black;
    border: 2px solid orangered;
    padding: 10px 30px;
    border-radius: 70%;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-family: helvetica;
    background-color: gainsboro;
} */
/* TITLE */
.header {
    text-align: left;
    border: 0.2vw solid black;
    height: 15vw;
}
.header h1 {
    font-family: space-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 7.6vw;
    text-align: center;
    /* text-decoration: underline; */
    color: black;
    padding-bottom: -20px;
    line-height: 7.2vw;
    /* background-color: rgb(0, 255, 115); */
}
h1 span {
   /* background-color: rgb(255, 68, 0); */
}
#red {
    white-space: nowrap;
}
#black {
    white-space: nowrap;
}
/* NAV BAR 
*/
.nav {
    border: 0.2vw solid black;
    border-width: calc(0.1vw + 1px);
    border-top: 0;
    width: auto;
    height: 30px;
    /* margin-bottom: 20px; */
}
.nav ul {
    list-style-type: none;
}
.nav ul li {
    float: left;
    /*padding-left: 330px;*/
    padding: 5px 10vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: auto;
}
.nav ul li a {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-family: helvetica;
    font-size: calc(0.8vw + 4px);
    padding: 2px;
}
a:hover {
    background-color: #f41f1e;
    color: black !important;
}
/*
.row {
    display: flex;
}
*/
.container {
    /* margin-top: 2vw; */
    padding: 2vw;
    padding-top: 1vw;
    position: inline-block;
    border: 0.2vw solid black;
    /* width: 30vw; */
    height: auto;
    border-top: 0;
}
.container:hover {
    background-color:#f41f1e;
    /* box-shadow: 1vw 1vw; */
}
.container:hover p {
    color: gainsboro;
}
.container:hover h2 {
    color: black;
}
.container:hover .blank {
    z-index: 1;
}
h2 {
    color: black;
    font-style: italic;
    font-family: space-mono, sans-serif;
    font-size: 4vw;
    padding-bottom: 10px;
    white-space: nowrap;
    /* text-decoration: underline; */
}
p {
    font-family: space-mono, mono;
    font-weight: 400;
    font-style: normal;
    font-size: calc(1vw + 4px);
    text-align: justify;
    color: black;
}
span {
    border: 0.8vw solid #f41f1e;
    border-radius: 50%;
    z-index: 10;
}
.blank {
    height: 6vw;
    background-color: #f41f1e;
    border: 0.2vw solid black;
    /* border-top: 0; */
    margin-top: 2vw;
}
#nomargin {
    margin-top: 0;
    border-top: 0;
}
